.statsSection {
  margin: auto;
  max-width: 90dvw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding: 2.5rem;
  border-radius: 2.5rem;
  border: var(--border-thickness) solid var(--light-gray);
}

.statBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.statValue {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  display: flex;
}

.digitContainer {
  display: flex;
  flex-direction: column;
}

.digits {
  color: var(--primary-red);
}

.statLabel {
  color: var(--light-gray);
  font-size: 0.95rem;
  line-height: 1.3rem;
}

.sublabel {
  color: #6b7280;
  font-size: 0.9rem;
}

@media screen and (max-width: 700px) {
  .statsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1.4rem;
    border-radius: 2.5rem;
    border: var(--border-thickness) solid var(--light-gray);
  }

  .statBox {
    gap: 0.5rem;
  }

  .statValue {
    font-size: 1.3rem;
    line-height: 1.7rem;
    text-align: left;
    margin-right: auto;
  }

  .statLabel {
    text-align: left;
  }
}
