.container {
  margin: auto;
  width: 90dvw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding: 2.5rem;
  border-radius: 2.5rem;
  border: var(--border-thickness) solid var(--light-gray);
}

.statBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.value {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  display: flex;
}

.digitContainer {
  display: flex;
  flex-direction: column;
}

.digits {
  color: var(--primary-red);
}

.label {
  color: var(--light-gray);
  font-size: 0.95rem;
  line-height: 1.3rem;
}

.sublabel {
  color: #6b7280;
  font-size: 0.9rem;
}
