.carouselContainer {
  position: relative;
  width: 100%;
  height: 600px; /* Ensures indicators are visible */
  overflow: hidden;
  box-sizing: border-box;
}

.carouselTrack {
  display: flex;
  height: 100%;
  will-change: transform;
}

.carouselItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  perspective: 1000px;
}

/* Indicators wrapper */
.indicatorsContainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.indicators {
  display: flex;
  gap: 8px;
}

.indicator {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.indicator.active {
  background-color: var(--primary-red);
  transform: scale(1.25);
}

.indicator.inactive {
  background-color: rgba(169, 30, 45, 0.4);
  transform: scale(0.8);
}
