.laptopViewerSection {
  width: 100%;
  height: 200vh;
  position: relative;
  /* mask-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0%,
    black 80%,
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%; */
}

/* .serviceDetails {
  position: absolute;
  z-index: 500;
  bottom: 3rem;
  left: 3rem;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.serviceDetails p {
  width: 20rem;
  line-height: 1.5rem;
} */

.serviceDetails {
  position: absolute;
  z-index: 500;
  bottom: 12rem;
  left: 3rem;
  /* color: white; */
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 20rem;
  line-height: 1.5rem;
}

.serviceDetails:nth-child(2) {
  bottom: 3rem;
  left: unset;
  right: 3rem;
}

/* .laptomImgWrapper {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
} */

.laptopImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.laptopImg:hover {
  transform: scale(1.1);
}

@media (max-width: 650px) {
  .laptopViewerSection {
    width: 100%;
    height: 100vh;
  }
}
