.laptopViewerSection {
  width: 100%;
  height: 200vh;
  position: relative;
  /* mask-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0%,
    black 80%,
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%; */
}
