.mainContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing);
  gap: calc(var(--spacing) / 2);
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90dvw;
  container: "";
}

.motionCard {
  border-radius: 2rem;
  position: relative;
  width: 100%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  background-color: white;
  border: 1px solid #e5e7eb;
  margin: 0 auto;
}

.cardContentContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  max-width: 90%;
  color: var(--primary-red);
  font-size: 1.5rem;
  font-weight: 700;
}

.description {
  font-size: 0.9rem;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.serviceImage {
  width: 100%;
  max-height: 35rem;
  border-radius: 2rem;
  object-fit: cover;
}
