/* Main container */
.container {
  background-color: #a91e2d;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 90dvw;
  height: 25rem;
  margin: calc(var(--spacing) * 1.5) auto;
}

/* Left content section */
.content {
  flex: 1;
  color: white;
  z-index: 2;
  padding-left: 5rem;
  position: relative;
}

.backgroundVector {
  position: absolute;
  width: 35rem;
  top: -15rem;
  left: 10rem;
  opacity: 0.3;
  transform: rotate(90deg);
  pointer-events: none;
}

/* Title */
.title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.1;
}

/* Subtitle text */
.subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.4;
}

/* CTA Button */
.primaryButton {
  padding: 16px 40px;
  font-size: 16px;
  background-color: white;
  color: #a91e2d;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.primaryButton:hover {
  color: #a91e2d;
  background-color: white;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.28) !important;
}

/* Right side image */
.imageContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 600px;
  height: 600px;
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
