.jesLogoDetailsContainer {
  height: 170vh;
  position: relative;
}

.jesDetailsContainer {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jesLogoContainer {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jesLogo {
  margin-bottom: 5rem;
  margin-right: 2rem;
}

.jesLogoAboutContainer {
  position: absolute;
  width: 90dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: var(--header-height) 0;
}

.logoCompleteImg {
  width: 25%;
  height: 25%;
  object-fit: cover;
  overflow: visible;
}
