.container {
  margin-top: calc(var(--header-height) * 1.2);
  width: 100dvw;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 650px) {
  .container {
    gap: 3rem;
  }
}
