.container {
  width: 100%;
  position: relative;
}

.wrapper {
  height: 80dvh;
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  align-items: center;
  gap: 5dvw;
  padding-right: 5dvw;
}

/* Left Side - Contact Info */
.leftPanel {
  width: 100%;
  min-height: 600px;
  height: 100%;
  position: relative;
  background-color: var(--primary-red);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 5dvw;
  gap: 5rem;
  border-radius: 0 6rem 6rem 0;
  color: white;
}

.backgroundVector {
  position: absolute;
  width: 70%;
  height: 76.75%;
  bottom: 0;
  right: -5rem;
  opacity: 0.2;
}

.contactTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactTitle {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.contactSubtitle {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.contactInfoContainer {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contactItem {
  display: flex;
  gap: 30.4px;
  align-items: center;
}

.contactIcon {
  width: 29.14px;
  height: 29.14px;
}

.contactText {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.locationIcon {
  position: absolute;
  top: 180px;
  left: 0;
  width: 29px;
  height: 29px;
}

.locationText {
  position: absolute;
  top: 180px;
  left: 59px;
  width: 350px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 29px;
  height: 2.5rem;
}

.docButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 999px;
  background-color: #cb4f5c;
}

.socialIcon {
  width: 2.5rem;
  height: 2.5rem;
}

/* Right Side - Form */
.rightPanel {
  flex: 1;
  position: relative;
}

.formBackground {
  position: absolute;
  height: 100%;
  top: 10rem;
  right: -5rem;
  width: 100%;
}

.form {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  color: var(--primary-dark);
  border: 0;
  border-bottom: 1px solid #8d8d8d;
  border-radius: 0;
  padding: 1rem;
  padding-left: 0;
  background-color: transparent;
}

.input:focus {
  outline: none;
  box-shadow: none;
  border-bottom-color: var(--primary-red);
}

.label {
  font-weight: 500;
  display: block;
}

.subjectSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.radioGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.radioItem {
  display: flex;
  align-items: center;
  gap: 12.1px;
}

.radioInput {
  width: 1rem;
  height: 1rem;
  border-color: var(--primary-dark);
  accent-color: var(--primary-red);
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.radioInput:checked {
  opacity: 1;
}
.radioLabel {
  cursor: pointer;
}

.textareaSection {
  min-width: 100%;
}

.textarea {
  color: var(--primary-dark);
  border: 0;
  border-bottom: 1px solid #8d8d8d;
  border-radius: 0;
  padding: 1rem;
  padding-left: 0;
  width: 100%;
  min-height: 100px;
  resize: none;
  background-color: transparent;
}

.textarea:focus {
  outline: none;
  box-shadow: none;
  border-bottom-color: var(--primary-red);
}

.submitButton {
  width: 100%;
  height: 66px;
  background-color: var(--primary-red);
  border-radius: 20px;
  border: none;
  font-weight: 600;
  color: white;
  font-size: 19.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.submitButton:focus {
  border: none;
  outline: none;
}

.submitButton:hover {
  background-color: rgba(169, 30, 45, 0.9);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
