.carouselSection {
  position: relative;
  overflow: hidden;
  text-align: center;
  user-select: none;
  pointer-events: none;
  margin-bottom: calc(var(--spacing) * 2);
}

.carouselTitle {
  margin-bottom: var(--spacing);
}

.carouselContainer {
  overflow: hidden;
  width: 100%;
}

.carouselTrack {
  display: flex;
  width: calc(240px * 14);
}

.imageWrapper {
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
  margin-right: 5rem;
  overflow: hidden;
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
  transform: scale(1.02);
}
