.missionVisionSection {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  place-content: center;
  place-items: center;
}

.missionVisionImg {
  max-height: 35rem;
  width: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

.header p {
  line-height: 1.6;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  max-width: 455px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.card h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  border-bottom: 1px solid #dfdfdf;
}

.card p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #dbdbdb;
}
