.scroll-to-top-button {
  background-color: var(--primary-red);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  border: none;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  padding: 1.1rem;
  cursor: pointer;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.08);
  transition: all 0.8s ease-in-out;
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  z-index: 9999;
}

.scroll-to-top-button:hover {
  background-color: #851722;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.1);
}

.scroll-to-top-button img {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .scroll-to-top-button {
    width: 3rem;
    height: 3rem;
    padding: 0.9rem;
  }
}
