.aboutPage {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  height: 100%;
  min-height: 100dvh;
  max-width: 100dvw;
}

.bgImageContainerOne {
  position: absolute;
  top: 500dvh;
  right: -15rem;
  transform: rotateZ(-90deg);
  z-index: -1;
}

.bgImageOne {
  width: 45rem;
  height: auto;
}

.bgImageContainerTwo {
  position: absolute;
  top: 180dvw;
  left: 0;
}

.bgImageTwo {
  width: 50rem;
  height: auto;
}
