.industryHighlightsSection {
  min-height: 100vh;
  width: 100dvw;
  margin: auto;
  margin-top: calc(var(--spacing) * 2);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing) * 1.5);
  padding: 0 5dvw;
}

.backgroundPattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.05;
  background-image: linear-gradient(
    45deg,
    var(--primary-red) 15%,
    transparent 15%
  );
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}

.industryItems {
  display: flex;
  width: 100%;
  height: 30rem;
  position: relative;
  z-index: 1;
}

.card {
  width: 100%;
  height: 15rem;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card * {
  color: inherit !important;
}

/* Alternate up/down layout */
.card:nth-child(odd) {
  margin-bottom: auto;
  color: var(--primary-dark);
  /* border-top: 10px solid var(--primary-dark);
  border-left: 2px solid var(--primary-dark); */
}

.card:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 0;
  width: 3px;
  background: currentColor;
}

.card:nth-child(odd)::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 1rem;
  width: 90%;
  height: 10px;
  background: currentColor;
  border-radius: 999px;
}

.card:nth-child(even) {
  margin-top: auto;
  color: var(--primary-red);
  /* border-bottom: 10px solid var(--primary-red);
  border-left: 2px solid var(--primary-red); */
}

.card:nth-child(even)::before {
  content: "";
  position: absolute;
  left: 0rem;
  width: 3px;
  top: 0;
  bottom: 0;
  background: currentColor;
}

.card:nth-child(even)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1rem;
  width: 90%;
  height: 10px;
  border-radius: 999px;
  background: currentColor;
}

.numberLarge {
  font-size: 1.4rem;
  font-weight: bold;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.cardDescription {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--primary-dark);
  margin-bottom: 1.5rem;
}

.link {
  color: #1a1a1a;
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.link:hover {
  opacity: 0.7;
}

.linkRed {
  color: #b91c1c;
}

@media screen and (max-width: 650px) {
  .industryItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.5rem;
    width: 100%;
    height: unset;
    position: relative;
    z-index: 1;
  }

  .card:nth-child(odd)::before {
    top: 0;
  }

  .card:nth-child(odd)::after {
    height: 0px;
  }

  .card:nth-child(even)::after {
    height: 0px;
  }
}
