.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popupContent {
  padding: 0;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-book-container {
  width: 100vw;
  height: 100vh;
  border: none;
  overflow: hidden;
  /* background-color: #efeeee; */
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

.flip-book-container-mobile {
  width: 100%;
  height: 50vh;
  border: none;
  overflow: hidden;
  background-color: #efeeee;
}

.open-flipbook-btn {
  position: relative;
  min-width: fit-content;
  max-width: 10rem;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--secondary-blue);
  color: white;
  border-radius: 1rem;
  font-size: 0.85rem;
  transition: background-color 0.5s ease-in-out;

  cursor: pointer;
}
.open-flipbook-btn:hover {
  background-color: #3670e2;
}

.open-flipbook-btn img {
  width: 1.5rem;
  height: 1.5rem;
}

.open-flipbook-btn::before,
.open-flipbook-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(16, 113, 218, 0.8);
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  /* animation: ripple-effect 2.5s infinite ease-out; */
}

.open-flipbook-btn::after {
  animation-delay: 1.25s;
}

/* Smooth expanding effect */
@keyframes ripple-effect {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  z-index: 100;
}

.closeButton:hover {
  color: white;
}

@media screen and (max-width: 600px) {
  .flip-book-container {
    height: 50vh;
  }

  .open-flipbook-btn {
    width: 2.5rem;
    height: 2.5rem;
  }
}
