.about-services-section-container {
  margin-top: var(--header-height);
  color: white;
}

.about-services-section-description-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.accordionBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  object-fit: cover;
}

.about-services-section-description {
  width: 90dvw;
}
