:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-dark: #202020;
  --light-gray: #a8a8a8;
  --lighter-gray: #e7e7e7;
  --primary-blue: #00ffef;
  --primary-red: #a91e2d;
  --border-thickness: 2px;
  --header-height: 5rem;
  --spacing: 4rem;
  font-family: var(--font-plusJakartaSans), Arial, Helvetica, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-plusJakartaSans), Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 3rem;
}

video {
  border: none;
  outline: none;
}

video:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
