:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-dark: #202020;
  --light-gray: #a8a8a8;
  --lighter-gray: #e7e7e7;
  --primary-red: #a91e2d;
  --border-thickness: 2px;
  --header-height: 5rem;
  --spacing: 4rem;
  font-family: var(--font-plusJakartaSans), Arial, Helvetica, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-dark);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-plusJakartaSans), Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 3.5rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5rem;
}

video {
  border: none;
  outline: none;
}

video:focus {
  outline: none;
}

button {
  background-color: var(--primary-red);
  border-radius: 1rem;
  width: 12rem;
  padding: 1rem 1.2rem;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: none;
  outline: none;
  user-select: none;
  transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: left 0.6s ease;
}

button:hover::before {
  left: 100%;
}

button:focus {
  border: none;
  outline: none;
}

button:hover {
  background-color: #7f1010;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
