.faqSection {
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 90dvw;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
