.bruceSpotlight {
  width: 100%;
  padding-left: 5rem;
}

/* Grid Layout */
.container {
  height: 100%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  gap: 5rem;
  align-items: center;
}

/* Image Column */
.imageColumn {
  display: flex;
  justify-content: flex-end;
}

.imageWrap {
  position: relative;
  max-width: 375px;
  object-fit: contain;
}

/* Shape behind image */
.shapeWrapper {
  display: block;
  position: absolute;
  left: -21%;
  top: -14%;
}

.shapeFigure {
  position: relative;
  width: 175px;
  height: 175px;
}

.shapeFigure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Main image */
.figure {
  overflow: hidden;
  margin: 0;
  position: relative;
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.04);
  opacity: 1;
  will-change: transform;
  transition: transform 0.1s cubic-bezier(0.3, 0.2, 0.2, 0.8), opacity 0.1s;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 52px;
  font-weight: 600;
  max-width: 462px;
}

.description {
  line-height: 31px;
  opacity: 0.95;
  font-size: 16px;
  max-width: 532px;
}

.role {
  font-size: 14px;
  opacity: 0.9;
  font-weight: 300;
}

@media screen and (max-width: 650px) {
  .bruceSpotlight {
    padding-left: 0;
  }

  .container {
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
