.bruceSpotlight {
  background-color: var(--primary-dark, #1a1a1a) !important;
  width: 100%;
  height: 100dvh;
}

/* Container */
.container {
  height: 100%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

/* Grid Layout */
.grid {
  display: flex;
  gap: 5rem;
}

/* Image Column */
.imageColumn {
  display: flex;
  justify-content: flex-end;
}

.imageWrap {
  position: relative;
  max-width: 375px;
  object-fit: contain;
}

/* Shape behind image */
.shapeWrapper {
  display: block;
  position: absolute;
  left: -21%;
  top: -14%;
}

.shapeFigure {
  position: relative;
  width: 175px;
  height: 175px;
}

.shapeFigure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main image */
.figure {
  overflow: hidden;
  margin: 0;
  position: relative;
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.04);
  opacity: 1;
  will-change: transform;
  transition: transform 0.1s cubic-bezier(0.3, 0.2, 0.2, 0.8), opacity 0.1s;
}

.title {
  font-size: 52px;
  line-height: 68px;
  font-weight: 600;
  max-width: 462px;
}

.description {
  margin-top: 32px;
  line-height: 31px;
  opacity: 0.95;
  font-size: 16px;
  max-width: 532px;
}

@media (min-width: 1024px) {
  .description {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .signature {
    margin-top: 50px;
  }
}

.name {
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .name {
    font-size: 24px;
  }
}

.role {
  font-size: 14px;
  opacity: 0.9;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .role {
    font-size: 16px;
  }
}
