.securitySection {
  width: 90dvw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 0.5);
  align-items: center;
  z-index: 500;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 2rem;
  justify-items: center;
}

@media screen and (max-width: 650px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
}
