.securitySection {
  width: 90dvw;
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  align-items: center;
  z-index: 500;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 2rem;
  justify-items: center;
}
