.testimonialSection {
  margin: calc(var(--spacing) * 2) auto;
  position: relative;
}

.testimonialSection h2 {
  margin-bottom: -2rem;
}

.bgImageContainerOne {
  position: absolute;
  bottom: -8rem;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.23;
  z-index: -1;
}

.bgImageOne {
  width: 45rem;
  height: auto;
}

.carouselContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.carouselScene {
  width: 100%;
  height: 500px;
  position: relative;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: none;
  /* scale: 2; */
}

.carouselItem {
  position: absolute;
  width: 380px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -210px;
  transform-style: preserve-3d;
}

.fadeLeft {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(to right, #ffffff 0%, transparent 100%);
}

.fadeRight {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20%;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(to left, #ffffff 0%, transparent 100%);
}
