/* ServiceScrollShowcase.module.css */
.serviceScrollWrapper {
  margin: auto;
  display: flex;
  width: 90dvw;
  min-height: 100vh;
  position: relative;
}

.bgImageContainer {
  position: absolute;
  top: 5rem;
  right: -10rem;
  opacity: 0.1;
  will-change: transform;
  transform-origin: center;
  z-index: -1;
}

.bgImage {
  width: 30rem;
  height: auto;
}

/* Left fixed sidebar */
.sidebar {
  position: sticky;
  top: calc(var(--header-height) / 3);
  height: 100vh;
  width: 25%;
  border-right: var(--border-thickness) solid var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
}

.menuItem {
  position: relative;
  width: 100%;
  color: var(--light-gray);
  transition: all 0.3s ease;
  text-align: left;
  cursor: pointer;
}

.menuItem p {
  font-size: 1rem;
  font-weight: inherit;
  line-height: 1.5rem;
  max-width: 80%;
}

.menuItem:hover {
  color: var(--primary-dark);
}

.menuItem.active {
  color: var(--primary-red);
  font-weight: 600;
}

.seeker {
  position: absolute;
  top: 50%;
  transform: translate(0, -30%);
  right: -0.3rem;
  width: 0.5rem;
  height: 250%;
  border-radius: 999px;
  background-color: var(--primary-red);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.seeker.active {
  opacity: 1;
  transform: translate(0, -50%);
}

/* Right content section */
.contentArea {
  flex: 1;
  position: relative;
}

.stickyContent {
  position: sticky;
  top: calc(var(--header-height) / 3);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
}

.serviceImageContainer {
  max-width: 800px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* Image Stack Container */
.imageStack {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust based on your needs */
}

.serviceImage {
  position: absolute;
  width: 300px; /* Square dimensions */
  height: 300px;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Back image - positioned bottom left */
.imageBack {
  top: 0;
  left: 0;
  z-index: 1;
}

/* Front image - positioned top right */
.imageFront {
  bottom: 0;
  right: 2rem;
  z-index: 2;
}

.description {
  font-size: 0.9rem;
  margin-top: 1rem;
  line-height: 2rem;
  text-align: justify;
  max-width: 600px;
}

.button {
  margin-top: 1.5rem;
}

/* Invisible dynamic scroll triggers */
.scrollSections {
  position: relative;
  pointer-events: none;
}

.trigger {
  height: 100vh;
  pointer-events: none;
}
