/* ScrollShowcase.module.css */
.wrapper {
  margin: auto;
  display: flex;
  width: 90dvw;
  min-height: 100vh;
  position: relative;
}

.bgImageContainer {
  position: absolute;
  top: 5rem;
  right: -10rem;
  opacity: 0.1;
}

.bgImage {
  width: 30rem;
  height: auto;
}

/* Left fixed sidebar */
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 25%;
  border-right: var(--border-thickness) solid var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.menuItem {
  position: relative;
  width: 100%;
  font-size: 1.1rem;
  color: var(--light-gray);
  transition: all 0.3s ease;
  text-align: left;
  cursor: pointer;
}

.menuItem:hover {
  color: var(--primary-dark);
}

.menuItem.active {
  color: var(--primary-red);
  font-weight: 600;
}

.seeker {
  position: absolute;
  top: 50%;
  transform: translate(0, -30%);
  right: -0.3rem;
  width: 0.5rem;
  height: 250%;
  border-radius: 999px;
  background-color: var(--primary-red);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.seeker.active {
  opacity: 1;
  transform: translate(0, -50%);
}

/* Right content section */
.contentArea {
  flex: 1;
  position: relative;
}

.stickyContent {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
}

.imageContainer {
  max-width: 600px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.description {
  margin-top: 1rem;
  line-height: 2rem;
}

.button {
  margin-top: 1.5rem;
  padding: 0.6rem 1.5rem;
  border: none;
  background-color: #a61717;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #7f1010;
}

/* Invisible dynamic scroll triggers */
.scrollSections {
  position: relative;
  pointer-events: none; /* allow pointer events to pass through */
}

.trigger {
  height: 100vh;
  pointer-events: none; /* ensures triggers don't block clicks */
}
