.card {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #a91e2d 0%, #a91e2d 100%);
  border-radius: 9999px;
  /* padding: 0.8rem 1.4rem; */
  width: fit-content;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding-left: 2rem;
  transform-origin: left;
  width: 100%;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textWrapper {
  background: linear-gradient(90deg, #d1404f 0%, #a91e2d 100%);
  height: 100%;
  flex: 1;
  border-radius: 9999px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}

.textWrapper h4 {
  font-size: 1.5rem;
}

.textWrapper p {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 0.9rem;
  line-height: 1.2rem;
  opacity: 0.9;
}
