.videoContainer {
  position: relative;
  width: 90dvw;
  margin: 0 auto;
  /* border: 1px solid rgba(169, 30, 45, 0.2);  */
  border: none !important;
  outline: none;
  border-radius: 4rem;
  background-color: #000;
  box-shadow: 0 8px 30px rgba(169, 30, 45, 0.3);
}

.video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: inherit;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 5;
}
