.servicePage {
  margin: auto;
  /* margin-top: calc(var(--spacing) * 2); */
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
}

.bgImageContainerOne {
  position: absolute;
  top: 100dvh;
  right: -5rem;
  opacity: 0.2;
  z-index: 500;
}

.bgImageOne {
  width: 20rem;
  height: auto;
}

.bgImageContainerTwo {
  position: absolute;
  top: 180dvw;
  left: 0;
  z-index: -1;
}

.bgImageTwo {
  width: 50rem;
  height: auto;
}

.videoTitle {
  margin-left: 5dvw;
  display: block;
  width: 80%; /* limits to about 20 characters per line */
  white-space: normal;
  word-wrap: break-word;
  font-size: 6.5rem;
  line-height: 1.2;
}

.serviceDetails {
  width: 90dvw;
  margin: auto;
  text-align: justify;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.serviceDetails p {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

/*Tesst Video*/
.outerContainer {
  position: relative;
  height: 180vh; /* controls total scroll distance */
  width: 100%;
}

.stickyContainer {
  position: sticky;
  top: var(--header-height);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5vw;
}

/* .serviceDetails {
  max-width: 900px;
  line-height: 1.6;
  font-size: 1.1rem;
  margin-top: 2rem;
  opacity: 0;
} */

.extrasSection {
  max-width: 90dvw;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.brochureBtn {
  /* border-radius: 50%;
  height: 4rem;
  width: 4rem; */
  width: 12rem;
  border-radius: 999px;
  padding: 0.8rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1400;
  background-color: var(--primary-red);
  transition: all 0.5s ease-in-out !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.brochureBtn:hover {
  box-shadow: 10px 4px 14px rgba(169, 30, 45, 0.5);
}

.brochureBtn img {
  width: 2.3rem;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 650px) {
  .servicePage {
    gap: 0;
  }

  .extrasSection {
    max-width: 80dvw;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
}
