.wrapper {
  position: relative;
  width: 100%;
  height: 200vh; /* container height for vertical scroll */
}

.stickyContainer {
  position: sticky;
  top: var(--header-height);
  width: 100%;
  height: 100vh; /* full viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 80px;
  z-index: 10;
}

.scrollContainer {
  position: relative;
  width: 100%;
}

.cardsContainer {
  display: flex;
  gap: 5rem;
  min-width: max-content;
}

@media (max-width: 768px) {
  .title {
    font-size: 42px;
    margin-bottom: 50px;
  }
}
