.approachSection {
  height: 400dvh;
  margin-bottom: calc(var(--spacing) * 2);
}

.approachDetailsContainer {
  position: sticky;
  top: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.approachCircleContainer {
  width: 50rem;
  height: 50rem;
  position: relative;
}

.approachItemsContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* clip-path: circle(50% at 50% 50%);
  padding: 4rem;
  overflow: hidden; */
}

.approachItem {
  max-width: 50%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;
  margin: auto;
  padding-bottom: 1rem;
}

.approachItem:first-child {
  padding-top: 2rem;
}

.approachItem:last-child {
  padding-bottom: 2rem;
}

/* .approachItem:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50%;
  right: 0;
  width: 1500%;
  height: 2px;
  background-color: white;
} */

/* .approachItem:not(:last-child) {
  border-bottom: 1px solid white;
} */

.approachItem h3 {
  font-size: 1.5rem;
}

.approachItem p {
  font-size: 1rem;
  line-height: 2rem;
}

.bgImageContainerOne {
  position: absolute;
  bottom: -10rem;
  left: -5rem;
  opacity: 0.05;
  scale: -1;
}

.bgImageOne {
  width: 20rem;
  height: auto;
}

.approachSectionBg {
  position: absolute;
  bottom: 30rem;
  right: -20rem;
  width: 40%;
  height: 40%;
  transform: scale(1.5);
  opacity: 0.03;
  transform-origin: left right;
  z-index: -1;
}
