.card {
  background: var(--light-grey);
  border-radius: 1.5rem;
  padding: 1.75rem;
  height: 100%;
  max-width: 420px;
  box-shadow: 10px 10px 1px rgba(169, 30, 45, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  background-color: rgba(216, 216, 216, 0.1);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.stars {
  display: flex;
  gap: 0.25rem;
}

.star {
  width: 20px;
  height: 20px;
  fill: var(--primary-red);
  stroke: var(--primary-red);
}

.desc {
  font-size: 1.1rem;
  line-height: 1.7;
  font-weight: 400;
  margin: auto;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: auto;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 1rem;
  font-weight: 600;
}

.title {
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: var(--light-grey);
}
